
main .row .side_bar {
    border-right: black 2px solid;
    height: 100vh;
    position: sticky;
    top: 0px;
    padding-top: 70px;
}

main .row .side_bar p {
    font-size: 23pt;
}


main .row .side_bar .title_holder h1 {
    font-size: 23pt;
    text-align: center;
}

main .row .side_bar #form_holder .h1  {
    text-align: center;
    

}

main .row .side_bar #form_holder .form .checkbox_holder input {
    width: 15px;
    height: 15px;
}


main .row .side_bar #form_holder .form .checkbox_holder label {
    font-size: 15pt;
    text-align: center;
}

main .row .side_bar #form_holder .form button {
    background-color: #e6008d;
    color:  rgb(249, 234, 234);
    border: solid black 1px;
    transition: all .05s ease-in;
}
main .row .side_bar #form_holder .form button:hover {
    background-color:  rgb(249, 234, 234);
    color: black;
    border: solid #e6008d 1px;
}


main .container .carousel .carousel-inner .carousel-item {
    height: 300px;
    margin-top: 80px;
    border: rgba(167, 163, 163, 0.97) 3px solid;
    border-radius: 20px;
}
main .container .carousel .carousel-inner .carousel-item img{
    border-radius: 20px;
}

main .container .carousel .carousel-inner .carousel-item .side {
    top: 45%;
    translate: -20% inherit;
}

main .container .carousel  .carousel-inner .carousel-item .carousel-caption h5 {
    color: black;
    font-size: 25pt;

}

main .container .carousel .carousel-inner .carousel-item .carousel-caption p {
    color: black;
    font-size: 20pt;
}
main .container .carousel .carousel-inner .carousel-item .d-grid a {
    background-color: #55924f;
    color: rgb(249, 234, 234);
    border: black 1px solid;
}
main .container .carousel .carousel-inner .carousel-item .d-grid a:hover {
    background-color: #ffffff;
    color: black;
    border: #55924f 1px solid;
}

main .row .main_content .content_holder .search_title {
    font-size: 23pt;
}

/* 
main .container .content_holder_container .container {

} */

main .row .main_content .content_holder .container

main .row .main_content .content_holder .container .card_holder{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 380px;
    
    
}
main .row .main_content .content_holder .container .card_holder a {
    text-decoration: none;
    color: black;
    text-align: center;
}

main .row .main_content .content_holder .container .card_holder a .content_holder{
    display: grid;
    height: 390px;
    grid-template-rows: 10px 150px 30px 1fr;
    grid-template-columns: 20px 1fr 20px;
    border: black solid 2px;
}
main .row .main_content .content_holder .container .card_holder a .content_holder .img_holder{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
main .row .main_content .content_holder .container .card_holder a .content_holder .img_holder img{
    width: 100%;
    height: 100%;
}
main .row .main_content .content_holder .container .card_holder a .content_holder .title_holder_and_Context_holder{
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
main .row .main_content .content_holder .container .card_holder a .content_holder .title_holder_and_Context_holder p{
    font-size: 17pt;
}

